:root{
  background-color: #000022;
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

.ant-table-title{
  background-color: #00304f; 
  color:#ddfe81;
  text-align: end;
  font-style:italic;
  padding:0; 
}

.ant-table-title h1{
  font-size: 3rem;
  margin:0 auto;
  margin-right: 0.5rem;
  font-weight:bold;
}
.ant-table-title p{
  margin:0;
  margin-right: 0.5rem;
}


.ant-table-thead{
  font-size: 0.8rem;
  color:#00304f;
  font-family:Verdana, Tahoma, sans-serif;
}

.ant-table-cell{
  border:1px solid rgba(138, 138, 138, 0.485);
}

.ant-table-tbody{
  padding: 4px !important;
}
.ant-table-tbody > tr > td{
  padding: 6px 4px 2px 4px !important;
}
